# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
.npm/
.env

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# build artifacts
/build
/dist
/out

# environment variable
.env
.env.local
.env.*.local

# Vite build
dist/
.vite/

# cache
.cache/
*.local

# Nodemon log
nodemon-debug.log

# build
build/

# PostgreSQL
*.sql

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ethumbs.db
